<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :day_at %>
    <%= form.datetime_select :day_at %>
  </div>

  <div class="field">
    <%= form.label :done %>
    <%= form.text_field :done %>
  </div>

  <div class="field">
    <%= form.label :good %>
    <%= form.text_field :good %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
